
@font-face {
  font-family: "icon-font";
  src: url('icon.ttf') format('truetype');
}

.icon-pre,
i[class*="ivu-icon-cus-"]::before,
i[class*="icon-cus-"]{
	font-family: icon-font;
    font-style: normal;
}
.ivu-icon-cus-add::before{
    content: "\e908";
}
.ivu-icon-cus-default::before{
    content: "\e9a1";
}
.ivu-icon-cus-zhgl::before{
    content: "\e99f";
}
.ivu-icon-cus-fcgl::before{
    content: "\e9a0";
}
